<a href="https://colab.research.google.com/github/sourabhkulkarni-007/machine-learning-practicing-notebooks/blob/master/random_forest_%20problem_statement%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
files.upload()

Saving petrol_consumption.csv to petrol_consumption.csv

{'petrol_consumption.csv': b'Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption\r\n9.00,3571,1976,0.5250,541\r\n9.00,4092,1250,0.5720,524\r\n9.00,3865,1586,0.5800,561\r\n7.50,4870,2351,0.5290,414\r\n8.00,4399,431,0.5440,410\r\n10.00,5342,1333,0.5710,457\r\n8.00,5319,11868,0.4510,344\r\n8.00,5126,2138,0.5530,467\r\n8.00,4447,8577,0.5290,464\r\n7.00,4512,8507,0.5520,498\r\n8.00,4391,5939,0.5300,580\r\n7.50,5126,14186,0.5250,471\r\n7.00,4817,6930,0.5740,525\r\n7.00,4207,6580,0.5450,508\r\n7.00,4332,8159,0.6080,566\r\n7.00,4318,10340,0.5860,635\r\n7.00,4206,8508,0.5720,603\r\n7.00,3718,4725,0.5400,714\r\n7.00,4716,5915,0.7240,865\r\n8.50,4341,6010,0.6770,640\r\n7.00,4593,7834,0.6630,649\r\n8.00,4983,602,0.6020,540\r\n9.00,4897,2449,0.5110,464\r\n9.00,4258,4686,0.5170,547\r\n8.50,4574,2619,0.5510,460\r\n9.00,3721,4746,0.5440,566\r\n8.00,3448,5399,0.5480,577\r\n7.50,3846,9061,0.5790,631\r\n8.00,4188,5975,0.5630,574\r\n9.00,3601,4650,0.4930,534\r\n7.00,3640,6905,0.5180,571\r\n7.00,3333,6594,0.5130,554\r\n8.00,3063,6524,0.5780,577\r\n7.50,3357,4121,0.5470,628\r\n8.00,3528,3495,0.4870,487\r\n6.58,3802,7834,0.6290,644\r\n5.00,4045,17782,0.5660,640\r\n7.00,3897,6385,0.5860,704\r\n8.50,3635,3274,0.6630,648\r\n7.00,4345,3905,0.6720,968\r\n7.00,4449,4639,0.6260,587\r\n7.00,3656,3985,0.5630,699\r\n7.00,4300,3635,0.6030,632\r\n7.00,3745,2611,0.5080,591\r\n6.00,5215,2302,0.6720,782\r\n9.00,4476,3942,0.5710,510\r\n7.00,4296,4083,0.6230,610\r\n7.00,5002,9794,0.5930,524\r\n'}

In [0]:
'''
Problem Statement:
To predict the gas consumption(in million of gallons) in 48 of the US states based on the petrol tax(in cents), per capiti income(dollars), paved highways
(in miles) and the proportin of the population with driving license
'''

'\nProblem Statement:\nTo predict the gas consumption(in million of gallons) in 48 of the US states based on the petrol tax(in cents), per capiti income(dollars), paved highways\n(in miles) and the proportin of the population with driving license\n'

In [0]:
#import libraries
import pandas as pd
import numpy as np

In [0]:
dataset = pd.read_csv("petrol_consumption.csv")

In [0]:
dataset.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [0]:
#preparing the data for training 
X = dataset.iloc[:,0:4].values
Y = dataset.iloc[:,4].values

In [0]:
#lets divide the data into training and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.20,random_state=0)

In [0]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
#training algo
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators = 200,random_state = 0)
regressor.fit(X_train,Y_train)
y_pred = regressor.predict(X_test)

In [0]:
#evaluating the algorithm
from sklearn import metrics
print("Mean Absolute Error:",metrics.mean_absolute_error(Y_test,y_pred))
print("************************************************************")
print("Mean Squared Error:", metrics.mean_squared_error(Y_test,y_pred))
print("*************************************************************")
print("Root Mean squarred Error:", np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

Mean Absolute Error: 76.1385
************************************************************
Mean Squared Error: 8180.4216625
*************************************************************
Root Mean squarred Error: 90.44568349291193